.ant-table-thead>tr>th.ant-table-column-has-actions.ant-table-column-has-sorters.ant-table-column-has-filters {
    padding-right: 54px!important;
}
.ant-table-thead>tr>th.ant-table-column-has-filters .ant-table-column-sorter {
    right: 34px;
}
.ant-table-thead>tr>th .ant-table-column-sorter {
    position: absolute;
    right: 6px;
    top: 50%;
    width: 14px;
    height: 17px;
    margin-top: -8.5px;
    text-align: center;
    color: #bfbfbf;
    -webkit-transition: all .3s;
    transition: all .3s;
}
